* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  :root {
    --red-400: #ea454c;
    --black-500: #000;
    --gray-300: #636364;
  }
  
  body {
    display: grid;
    grid-template-areas: "profile img";
  
    grid-template-rows: 100vh;
    position: relative;
  }
  
  aside {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw-540px);
  
    gap: 1.23rem;
  }
  
  #headline h1 {
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black-500);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.459);
  }
  
  #headline h2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-300);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
  }
  
  label {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #181818;
  }
  
  input {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--gray-300);
    border-radius: 12px;
    color: var(--gray-300);
    width: 313.97px;
    height: 41.31px;
    padding-left: 1rem;
  }
  
  input:focus {
    border-color: #cf262e;
    transition: border 1s;
  }
  
  button {
    color: white;
    background-color: #ea454c;
    width: 313.97px;
    height: 41.31px;
    border-radius: 12px;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: background 1s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cf262e;
  }
  
  #text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #text label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #181818;
  }
  
  #text a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: #181818;
    margin-left: 5.9rem;
  }
  
  #myCheckbox {
    width: 14.46px;
    height: 13.43px;
    border: 1px solid #00000040;
    border-radius: 4px;
  }
  
  #signIn {
    width: 313.97px;
    height: 41.31px;
    border: 1px #00000050 solid;
    border-radius: 12px;
  
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03rem;
    color: #000000;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: border 1s;
  }
  
  #signIn:hover {
    border-color: #ea454c;
  }
  
  p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  #link{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #EA454C;
  }
  
  
  #man {
    position: absolute;
    top: 0;
    right: 0;
  }